*,html,body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;

}

p{
    font-family: 'Raleway', sans-serif;
}








.top1 img{
height: 140px;
width: 140px;

}

@media (max-width: 576px)
{
.top1 img{
height: 70px;
width: 70px;
}
.top1 p{
        font-size: 30px;
    }

}

@media (max-width: 350px){
    .top1 p{
        font-size: 15px;
        padding-top: 15px;
    }

        .top1 img{
    height: 50px;
    width: 50px;
    }
}





.bg-warning {
    background-color: #e4831f!important;
  
}



.top ul li a{
    text-decoration: none;
    color: white;

}




.navbar .navbar-nav .nav-link{
    font-size: 20px;
    color: white;
}

.navbar .navbar-nav .nav-item:hover{

background-color:orange;
border-radius: 5px;
/*border-bottom: 2px solid white;
*/}

.bg-warning {
    background-color: #e4831f!important;

}
  
}

.fa-3x{
  color: #e4831f!important;   
}

.text-warning{
    color: #e4831f!important;
}

.btn-warning{
    background-color: #e4831f!important;
    border: none;
    color: white;

}


.features .card img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin: 0 auto;
}

@media (min-width: 576px) and (max-width: 991px){

.features .card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
}


.card img{
    max-height: 200px;
}


.features .card:hover,.educational .card:hover{
-webkit-box-shadow: 0px 1px 12px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 12px 2px rgba(0,0,0,0.75);
box-shadow: 0px 1px 12px 2px rgba(0,0,0,0.75);
transition: 1s;
}


.educational .btn-block {
    -webkit-margin-top: -2.5rem;
    -moz-margin-top:-2.5rem;
    margin-top: -2.5rem;
     background-color: #e4831f!important;
     border: none;
     color: white;
     z-index: 999;
}




/*testimonial css start*/
.testimonial h2 ,h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    
    font-weight: bold;
    position: relative;
    margin: 30px 0 60px;
}
.testimonial h2::after, h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
     background: #e4831f!important;
    left: 0;
    right: 0;
    bottom: -10px;
}
.testimonial .col-center {
    margin: 0 auto;
    float: none !important;
}
.testimonial .carousel {
    margin: 50px auto;
    padding: 0 70px;
}
.testimonial .carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}
.testimonial .carousel .item .img-box {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

@media (max-width: 576px){
    .testimonial .carousel .item .img-box {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
}


.testimonial .carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    -webkit-box-shadow: -1px 1px 16px 0px rgba(26,25,22,1);
-moz-box-shadow: -1px 1px 16px 0px rgba(26,25,22,1);
box-shadow: -1px 1px 16px 0px rgba(26,25,22,1);
}
.testimonial .carousel .testimonial {
    padding: 30px 0 10px;
}
.testimonial .carousel .overview {  
    font-style: italic;
}
.testimonial .carousel .overview b {
    text-transform: uppercase;
    color: #7AA641;
}
.testimonial .carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}
.testimonial .carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: #da9411;
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.testimonial .carousel .carousel-indicators {
    bottom: -40px;
}
.testimonial .carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    border-radius: 50%;
}
.testimonial .carousel-indicators li, .carousel-indicators li.active {
    width: 30px;
    height: 10px;
}
.testimonial .carousel-indicators li {  
     background: #e4831f!important;
    background: linear-gradient(100deg, #cc4652, #1b465b);
    border-color: transparent;
}
.testimonial  li:hover {    
     background: #e4831f!important;
    border-color: transparent;
}


/*media query*/

@media (min-width: 576px) and (max-width: 768px) { 

.card h5{
    font-size: 12px;
}
 

.card img{
    height: 130px;
 }

 .card-text{
    font-size:11px;
 }
}    
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
  
.card img{
    height: 200px;
 }

 .card-text{
    font-size:13px;
 }
}

@media (min-width: 768px) and (max-width: 991.98px) {
 
 .card img{
    height: 150px;
 }


 .card-text{
    font-size:13px;
 }
 }


 @media (max-width: 500px){
    .testimonial .carousel-indicators li, .carousel-indicators li.active {
    width: 30px;
    height: 0px;
}
 }